<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weather.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @weather.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @weather.lon %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
